:root {
    --light: #DDDDDD;
    --gray: #888888;
    --dark: #222222;
    --orange: #FC9024;
    --egg: #FEDCBA;
    --blue: #2490FC;
}
.u-orange-back {
    background-color: var(--orange);
}
.u-egg-back {
    background-color: var(--egg);
}
.u-light-back {
    background-color: var(--light);
}
.u-dark-back {
    background-color: var(--dark);
}
.u-link {
    color: var(--blue);
}
.u-light-text {
    color: var(--light);
}
.u-dark-text {
    color: var(--dark);
}
.u-gray-text {
    color: var(--gray);
}
.u-index-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.u-restricted-width {
    max-width: 600px;
}
.u-distribute {
    justify-content: space-around;
}
.u-no-margin {
    margin: 0px 0px 0px 0px;
}
.highlight {
    color: #6c5ce7;
}
.u-unit {
    flex: 1;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}
h1 {
    /* color: var(--dark); */
    font-size: 40px;
}
h2 {
    /* color: var(--dark); */
    font-size: 30px;
}
p {
    font-family: "Montserrat";
    font-size: 20px;
    margin-bottom: 10px;
}
a {
    font-family: "Montserrat";
    font-size: 20px;
    margin-bottom: 10px;
}