:root {
    --light: #eeeeee;
    --gray: #888888;
    --dark: #111111;
    --orange: #FC9024;
    --egg: #FEDCBA;
    --blue: #2490FC;

    --highlight: #6c5ce7;
    --section-break: #555555;
}
.u-orange-back {
    background-color: var(--orange);
}
.u-egg-back {
    background-color: var(--egg);
}
.u-light-back {
    background-color: var(--light);
}
.u-dark-back {
    background-color: var(--dark);
}
.u-link {
    color: var(--blue);
}
.u-white-text {
    color: #ffffff;
}
.u-blue-text {
    color: var(--blue);
}
.u-orange-text {
    color: var(--orange);
}
.u-light-text {
    color: var(--light);
}
.u-dark-text {
    color: var(--dark);
}
.u-gray-text {
    color: var(--gray);
}
.u-thicc {
    font-weight: 900;
}
.u-inherit-color {
    color: inherit;
}
.u-index-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.u-restricted-width {
    max-width: 600px;
}
.u-distribute {
    justify-content: space-around;
}
.u-no-margin {
    margin: 0px 0px 0px 0px;
}
.highlight {
    color: var(--highlight);
}
.section-break {
    color:var(--section-break);
}
.u-unit {
    flex: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}
h1 {
    font-size: 45px;
    font-weight: bolder;
}
h2 {
    font-size: 30px;
    font-weight: bolder;
}
h3 {
    font-size: 25px;
    font-weight: bolder;
}
p, div {
    font-family: "Montserrat";
    font-size: 20px;
    margin-bottom: 10px;
}
.u-monospace {
    font-family: 'Anonymous Pro', monospace;
    font-weight: normal;
}