:root {
    --light: #eeeeee;
    --gray: #888888;
    --dark: #111111;
    --orange: #FC9024;
    --egg: #FEDCBA;
    --blue: #2490FC;

    --highlight: #6c5ce7;
    --section-break: #555555;

    --animation-time: 0.5s;
}
.u-orange-back {
    background-color: var(--orange);
}
.u-egg-back {
    background-color: var(--egg);
}
.u-blue-back {
    background-color: var(--blue);
}
.u-light-back {
    background-color: var(--light);
}
.u-white-back {
    background-color: #ffffff;
}
.u-dark-back {
    background-color: var(--dark);
}
.u-link {
    color: var(--blue);
    transition: all var(--animation-time);
}
.u-link:hover {
    background-color: var(--orange);
    color: #ffffff;
    transition: all var(--animation-time);
}
.u-white-text {
    color: #ffffff;
}
.u-blue-text {
    color: var(--blue);
}
.u-orange-text {
    color: var(--orange);
}
.u-light-text {
    color: var(--light);
}
.u-dark-text {
    color: var(--dark);
}
.u-gray-text {
    color: var(--gray);
}
.u-thicc {
    font-weight: 900;
}
.u-inherit-color {
    color: inherit;
}
.u-index-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.u-restricted-width {
    max-width: 1000px;
}
.u-height-inherit {
    height: inherit;
}
.u-height-100 {
    height: 100%;
}
.u-flex-grow {
    flex-grow: 1;
    max-width: 100%;
}
.u-distribute {
    justify-content: space-around;
}
.u-no-margin {
    margin: 0px 0px 0px 0px;
}
.u-margin {
    margin: 10px;
}
.u-dark-border {
    border: 2.5px solid;
    border-color: var(--dark);
}
.highlight {
    color: var(--highlight);
}
.ipa {
    color: var(--orange);
    font-family: 'Segoe UI', sans-serif;
}
.section-break {
    color:var(--section-break);
}
.u-unit {
    flex: 1;
}
.u-round {
    border-radius: 20%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}
.huge {
    font-size: 60px;
    font-weight: bolder;
}
h1 {
    font-size: 45px;
    font-weight: bolder;
}
h2 {
    font-size: 30px;
    font-weight: bolder;
}
h3 {
    font-size: 25px;
    font-weight: bolder;
}
p, div {
    font-family: "Montserrat";
    font-size: 20px;
    margin-bottom: 10px;
}
a {
    color: var(--blue);
    text-decoration: none;
    transition: all var(--animation-time);
}
tr {
    padding: 10px;
}
td {
    padding: 10px;
}
a:hover {
    text-decoration: none;
    transition: all var(--animation-time);
}
.u-monospace {
    font-family: 'Anonymous Pro', monospace;
    font-weight: normal;
}
.u-gallery-text {
    background-color: #00000080;
    transition: all var(--animation-time);
}
.u-gallery-text:hover {
    background-color: #2490FC80;
    transition: all var(--animation-time);
}
.u-gallery-image-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #00000000;
    background-color: #2490FC00;
    transition: all var(--animation-time);
}
.u-gallery-image-text:hover {
    display: block;
    color: #000000ff;
    background-color: #2490FC80;
    transition: all var(--animation-time);
}